*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: $ff-main;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  background: none;
  border: none;
  user-select: none;
  font-family: inherit;
  white-space: nowrap;
  cursor: pointer;
}

.sr__only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
