// typoghraphy
$ff-main: "Poppins", sans-serif;
//tryout colors

$btn-bg: #eda131;
$cl-pinkish: #fac7d7;
$cl-lightgreenish: #7fcd7f;
$dc-color: #00e472;
$dc-text: #181818;
$bottom-nav-text: #7b7b7b;
$bottom-nav-border: #e5e5e5;

//z-index

$counterZ: 100;
