// typoghraphy

$ff-main: "Poppins", sans-serif;
$fw-400-normal: 400;
$fw-500-medium: 500;
$fw-600-semiBold: 600;
$fw-700-bold: 700;

//tryout colors

$btn-bg: #eda131;
$cl-pinkish: #fac7d7;
$cl-lightgreenish: #7fcd7f;
$dc-color: #00e472;
$dc-text: #181818;
$bottom-nav-text: #7b7b7b;
$bottom-nav-border: #e5e5e5;

//z-index

$counterZ: 100;

// scrollbar

$scrollThumbColor: hsl(0, 0%, 38%);
$scrollThumbHover: lighten($scrollThumbColor, 15);
